@charset "UTF-8";
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--text);
    color: var(--white);
    padding: 60px;
}

.content h1 {
    font-size: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact-info > div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.contact-info > div svg {
    width: 24px;
    height: 24px;
}
.contact-info > div svg path {
    fill: var(--silver);
}

.contact-social {
    display: flex;
    column-gap: 32px;
}
.contact-social a:hover svg {
    transform: scale(1.2);
}
.contact-social svg {
    width: 32px;
    height: 32px;

    transition: all 0.4s;
}

.contact-social svg path {
    fill: var(--silver);
}
